<h1>Listing pledges</h1>

<table>
  <thead>
  <tr>
    <th>Project</th>
    <th>Min amount</th>
    <th>Description</th>
    <th>Delivery date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @pledges.each do |pledge| %>
      <tr>
        <td><%= pledge.project_id %></td>
        <td><%= pledge.min_amount %></td>
        <td><%= pledge.description %></td>
        <td><%= pledge.delivery_date %></td>
        <td><%= link_to 'Show', pledge %></td>
        <td><%= link_to 'Edit', edit_pledge_path(pledge) %></td>
        <td><%= link_to 'Destroy', pledge, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pledge', new_pledge_path %>
