<p id="notice"><%= notice %></p>

<p>
  <b>Kick project:</b>
  <%= @pledge.kick_project_id %>
</p>

<p>
  <b>Id:</b>
  <%= @pledge.id %>
</p>

<p>
  <b>Min amount:</b>
  <%= @pledge.min_amount %>
</p>

<p>
  <b>Description:</b>
  <%= @pledge.description %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @pledge.delivery_date %>
</p>


<%= link_to 'Edit', edit_pledge_path(@pledge) %> |
<%= link_to 'Back', pledges_path %>
