<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @pledge.project_id %>
</p>

<p>
  <strong>Min amount:</strong>
  <%= @pledge.min_amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pledge.description %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @pledge.delivery_date %>
</p>

<%= link_to 'Edit', edit_pledge_path(@pledge) %> |
<%= link_to 'Back', pledges_path %>
