<h1>Listing kick_projects</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Kick category</th>
    <th>Name</th>
    <th>Expiration date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kick_projects.each do |kick_project| %>
  <tr>
    <td><%= kick_project.id %></td>
    <td><%= kick_project.kick_category_id %></td>
    <td><%= kick_project.name %></td>
    <td><%= kick_project.expiration_date %></td>
    <td><%= link_to 'Show', kick_project %></td>
    <td><%= link_to 'Edit', edit_kick_project_path(kick_project) %></td>
    <td><%= link_to 'Destroy', kick_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kick project', new_kick_project_path %>
