<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @kick_project.id %>
</p>

<p>
  <b>Kick category:</b>
  <%= @kick_project.kick_category_id %>
</p>

<p>
  <b>Name:</b>
  <%= @kick_project.name %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @kick_project.expiration_date %>
</p>


<%= link_to 'Edit', edit_kick_project_path(@kick_project) %> |
<%= link_to 'Back', kick_projects_path %>
