<%= form_for(@daily_pledge) do |f| %>
  <% if @daily_pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_pledge.errors.count, "error") %> prohibited this daily_pledge from being saved:</h2>

      <ul>
      <% @daily_pledge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kick_project_id %><br />
    <%= f.text_field :kick_project_id %>
  </div>
  <div class="field">
    <%= f.label :pledge_id %><br />
    <%= f.number_field :pledge_id %>
  </div>
  <div class="field">
    <%= f.label :push_date %><br />
    <%= f.date_select :push_date %>
  </div>
  <div class="field">
    <%= f.label :amount_backers %><br />
    <%= f.number_field :amount_backers %>
  </div>
  <div class="field">
    <%= f.label :amount_pledged %><br />
    <%= f.number_field :amount_pledged %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
