<h1>Listing daily_pledges</h1>

<table>
  <tr>
    <th>Kick project</th>
    <th>Pledge</th>
    <th>Push date</th>
    <th>Amount backers</th>
    <th>Amount pledged</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daily_pledges.each do |daily_pledge| %>
  <tr>
    <td><%= daily_pledge.kick_project_id %></td>
    <td><%= daily_pledge.pledge_id %></td>
    <td><%= daily_pledge.push_date %></td>
    <td><%= daily_pledge.amount_backers %></td>
    <td><%= daily_pledge.amount_pledged %></td>
    <td><%= link_to 'Show', daily_pledge %></td>
    <td><%= link_to 'Edit', edit_daily_pledge_path(daily_pledge) %></td>
    <td><%= link_to 'Destroy', daily_pledge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Daily pledges', new_daily_pledge_path %>
