<p id="notice"><%= notice %></p>

<p>
  <b>Kick project:</b>
  <%= @daily_pledge.kick_project_id %>
</p>

<p>
  <b>Pledge:</b>
  <%= @daily_pledge.pledge_id %>
</p>

<p>
  <b>Push date:</b>
  <%= @daily_pledge.push_date %>
</p>

<p>
  <b>Amount backers:</b>
  <%= @daily_pledge.amount_backers %>
</p>

<p>
  <b>Amount pledged:</b>
  <%= @daily_pledge.amount_pledged %>
</p>


<%= link_to 'Edit', edit_daily_pledge_path(@daily_pledge) %> |
<%= link_to 'Back', daily_pledges_index_path %>
