<h1>Listing categories_projects</h1>

<table>
  <tr>
    <th>Kick category</th>
    <th>Kick project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories_projects.each do |categories_project| %>
  <tr>
    <td><%= categories_project.kick_category_id %></td>
    <td><%= categories_project.kick_project_id %></td>
    <td><%= link_to 'Show', categories_project %></td>
    <td><%= link_to 'Edit', edit_categories_project_path(categories_project) %></td>
    <td><%= link_to 'Destroy', categories_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categories projects', new_categories_project_path %>
