<p id="notice"><%= notice %></p>

<p>
  <b>Kick category:</b>
  <%= @categories_project.kick_category_id %>
</p>

<p>
  <b>Kick project:</b>
  <%= @categories_project.kick_project_id %>
</p>


<%= link_to 'Edit', edit_categories_project_path(@categories_project) %> |
<%= link_to 'Back', categories_projects_index_path %>
