<%= form_for(@cat_projects_rel) do |f| %>
  <% if @cat_projects_rel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat_projects_rel.errors.count, "error") %> prohibited this cat_projects_rel from being saved:</h2>

      <ul>
      <% @cat_projects_rel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kick_category_id %><br />
    <%= f.number_field :kick_category_id %>
  </div>
  <div class="field">
    <%= f.label :kick_project_id %><br />
    <%= f.text_field :kick_project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
