<h1>Listing cat_projects_rels</h1>

<table>
  <tr>
    <th>Kick category</th>
    <th>Kick project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cat_projects_rels.each do |cat_projects_rel| %>
  <tr>
    <td><%= cat_projects_rel.kick_category_id %></td>
    <td><%= cat_projects_rel.kick_project_id %></td>
    <td><%= link_to 'Show', cat_projects_rel %></td>
    <td><%= link_to 'Edit', edit_cat_projects_rel_path(cat_projects_rel) %></td>
    <td><%= link_to 'Destroy', cat_projects_rel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cat projects rel', new_cat_projects_rel_path %>
