<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @kick_category.id %>
</p>

<p>
  <b>Description:</b>
  <%= @kick_category.description %>
</p>


<%= link_to 'Edit', edit_kick_category_path(@kick_category) %> |
<%= link_to 'Back', kick_categories_path %>
