<%= form_for(@daily) do |f| %>
    <% if @daily.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@daily.errors.count, "error") %> prohibited this daily from being saved:</h2>

          <ul>
            <% @daily.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :project_id %>
      <br>
      <%= f.number_field :project_id %>
    </div>
    <div class="field">
      <%= f.label :push_date_id %>
      <br>
      <%= f.number_field :push_date_id %>
    </div>
    <div class="field">
      <%= f.label :amount_backers %>
      <br>
      <%= f.number_field :amount_backers %>
    </div>
    <div class="field">
      <%= f.label :amount_pledged %>
      <br>
      <%= f.number_field :amount_pledged %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
